<div [ngSwitch]="field.type">
  <app-checkbox-control
    *ngSwitchCase="'checkbox'"
    [field]="field"
    [formGroup]="formGroup"
  ></app-checkbox-control>
  <app-file-upload-control
    *ngSwitchCase="'file'"
    [field]="field"
    [formGroup]="formGroup"
  ></app-file-upload-control>
  <app-radio-button-control
    *ngSwitchCase="'radio'"
    [field]="field"
    [formGroup]="formGroup"
  ></app-radio-button-control>
  <app-select-control
    *ngSwitchCase="'select'"
    [field]="field"
    [formGroup]="formGroup"
  ></app-select-control>
  <app-textarea-control
    *ngSwitchCase="'textarea'"
    [field]="field"
    [formGroup]="formGroup"
  ></app-textarea-control>
  <app-default-input-control
    *ngSwitchDefault
    [field]="field"
    [formGroup]="formGroup"
  ></app-default-input-control>
</div>
